@import "bootstrap-variables";
@import "bootstrap/bootstrap";

/* Offcanvas navbar */
.offcanvas {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
}
.show-offcanvas {
    background:rgba(255,255,255,0.6);
    backdrop-filter: blur(6px);
    justify-content: flex-start;
    visibility: visible;   
}
.show-offcanvas>.navbar-offcanvas {
    right: 0;
}
.navbar-offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    overflow-y: auto;
    background-color: $dark;
    transition: all 0.2s ease-in-out;
}
.offcanvas-navbar-close-btn {
    position: absolute;
    top: 10px;
    right: 16px;
    color: $white;
    font-size: 30px;
}

// Add a bottom-border to all button styles that makes the button slightly 3-dimensional
@each $color, $value in $theme-colors {
    .btn-#{$color} {
        border-bottom: 2px solid darken($value, 10%);
        @include hover() {
            border-bottom-color: darken($value, 15%);
        }
    }
}

// Decrease font size for small devices
$font-size-sm-factor: 0.9;
@include media-breakpoint-down(sm) {
    body {
        font-size: $font-size-base * $font-size-sm-factor;
    }
    h1 {
        font-size: $h1-font-size * $font-size-sm-factor;
    }
    h2 {
        font-size: $h2-font-size * $font-size-sm-factor;
    }
    h3 {
        font-size: $h3-font-size * $font-size-sm-factor;
    }
    h4 {
        font-size: $h4-font-size * $font-size-sm-factor;
    }
    h5 {
        font-size: $h5-font-size * $font-size-sm-factor;
    }
    .display-4 {
        font-size: $display4-size * $font-size-sm-factor * $font-size-sm-factor;
    }
}

.container-xl.extend,
.container-lg.extend {
    @include media-breakpoint-up(xxl) {
        max-width: 1368px;
    }
}

/* Responsive images */

img.contain {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
img.cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
    &.op-left {
        object-position: left;
    }
    &.op-right {
        object-position: right;
    }
    &.op-center {
        object-position: center;
    }
}
