{{ $columns := split .Content "<hr>" }}
{{ $columns_meta := .Params.Columns }}
{{ $all_columns_class := .Params.ColumnClass }}


<div class="{{.Params.Class}}">
    <div class="row {{.Params.GridClass}}">

        {{ range $column_index, $column_content := $columns }}

        {{ $column_class := "" }}
        {{ if isset $columns_meta $column_index }}
            {{ $column_class = print $column_class (index $columns_meta $column_index)  }}
        {{ end }}

        <div class="{{ $all_columns_class }} {{ $column_class }}">
            {{ safeHTML $column_content }}
        </div>
        {{ end }}
    </div>
</div>