{{ $slides := split .Content "<hr>" }}
{{ $slides_meta := .Params.Slides }}
{{ $ID := .File.UniqueID}}

<div class="{{.Params.Class}}">
    <div id="carousel-{{ $ID }}" class="carousel slide {{.Params.CarouselClass}}" data-ride="carousel">
        <ol class="carousel-indicators">
            {{ range $slide_index, $slide_content := $slides }}
                       
            {{ $indicator_class := "" }}
            {{ if (eq $slide_index 0) }}
            {{ $indicator_class = "active" }}
            {{ end }}
    
            <li data-target="#carousel-{{ $ID }}" data-slide-to="{{$slide_index}}" class="{{$indicator_class}}"></li>
            {{ end }}
        </ol>
        <div class="carousel-inner">
            {{ range $slide_index, $slide_content := $slides }}
            
            {{/*$slide_class := index $slides_meta $slide_index */}}
            
            {{ $slide_class := slice "carousel-item" }}
            {{ if (eq $slide_index 0) }}
            {{ $slide_class = $slide_class | append "active" }}
            {{ end }}
    
            <div class='{{ delimit $slide_class " " }}'>
                {{ safeHTML $slide_content }}
            </div>
            {{ end }}
        </div>
        <a class="carousel-control-prev" href="#carousel-{{ $ID }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-{{ $ID }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>