<div class="jumbotron py-xxl-7 py-xl-6 py-lg-5 mx-auto text-white" style="background-image: url(https://www.aufderostsee.de/assets/photos/?src=hero-haus.jpg&w=2560); background-position: right;">
  <div class="container-lg">
    <h1 class="display-4 text-shadow">{{ .Title }}</h1>
    <div class="lead text-shadow mb-0">{{ .Content }}</div>
  </div>
</div>