<div class="container">
    <footer class="py-4 mt-4 border-top">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <a href="{{ .Site.BaseURL }}">
            <img class="mb-2" src="/logo.svg" width="180" alt="Ferienhaus Auf der Ostsee">
          </a>
          <small class="d-block mb-3 text-muted">© 2013-2020</small>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <p class="h5">Links</p>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Daten</a></li>
            <li><a class="text-muted" href="#">Das Haus</a></li>
            <li><a class="text-muted" href="#">Lage</a></li>
            <li><a class="text-muted" href="#">Verfügbarkeit</a></li>
            <li><a class="btn btn-primary mt-2" href="#">Jetzt buchen</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <p class="h5">Adresse</p>
          <address class="text-small text-muted">
            Ferienhaus Auf der Ostsee<br>
            Auf der Ostsee 4<br>
            24376 Kappeln<br>
            Deutschland
          </address>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <p class="h5">Karte</p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=9.9173%2C54.6002%2C10.0994%2C54.7229&amp;layer=mapnik&amp;marker=54.66352835172158%2C10.033586025238037"></iframe>
          </div>
        </div>
      </div>
    </footer>
  </div>