<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    {{ $css := resources.Match "scss/*.scss" | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
    {{ $js := resources.Match "js/*.js" | resources.Concat "js/bundle.js" }}
    <script type="text/javascript" src="{{ $js.Permalink }}"></script>

</head>