{{ $navigation_class := "navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top" }}
{{ if isset .Params "navbarclass" }}
{{ $navigation_class = .Params.NavbarClass }}
{{ end }}


<nav class="{{$navigation_class}}">
    <div class="container-lg">
        <a class="navbar-brand mr-0" href="{{ .Site.BaseURL }}">
            <img src="/logo.svg" alt="Ferienhaus Auf der Ostsee">
        </a>
        <button class="navbar-toggler" id="toggg" data-trigger="#offcanvas" type="button" aria-controls="headNavbar" aria-expanded="false" aria-label="Navigation einblenden">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav d-none d-lg-flex font-condensed">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="nav-item nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ .Page.Params.NavbarItemClass }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>

        <div class="offcanvas" id="offcanvas">
            <div class="navbar-offcanvas font-condensed navbar-dark">
            
                <div class="offcanvas-header">
                    <p class="h5 p-2 text-light w-100 bg-gray">Seiten</p>
                    <button type="button" class="close offcanvas-navbar-close-btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="navbar-nav m-2">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <a class="nav-item nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ .Page.Params.NavbarItemClass }}" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </div>
               
            </div>
        </div>
        
    
        
    </div>
</nav>

